# Python
__pycache__/
*.pyc
venv/
*.env
.env

# Node.js
webapp/node_modules/
webapp/dist/
webapp/npm-debug.log*
webapp/yarn-debug.log*
webapp/yarn-error.log*

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Sistema Operativo
.DS_Store
Thumbs.db
